<h1>Welcome {{currentUser.username}}</h1>
<br>
<br>
<button [disabled]="loading" class="btn btn-secondary" [routerLink]="['/profile']">Create/Modify a Skill Market Profile</button>
<br>
<br>
<button [disabled]="loading" class="btn btn-secondary" [routerLink]="['/projectbuilder']">Create a Skill Market Project</button>
<br>
<br>
<button [disabled]="loading" class="btn btn-secondary" [routerLink]="['/currentproject']">Current Project in Process</button>
<br>
<br>
<button [disabled]="loading" class="btn btn-secondary" [routerLink]="['/skillslist']">Access to actual skills list</button>
<br>
<br>
