<h1 style="color:purple;">Welcome <span style="color: green">{{currentUser.username}}</span></h1>
<br>
<br>
<h2>Your coin counter is equal to : <span style="color: red">3</span></h2>
<br>
<br>
<h2>Your point counter is equal to : <span style="color: red">200</span></h2>
<br>
<br>
<h2>Your entity point counter is equal to : <span style="color: red">3000</span></h2>
<br>
<br>
<h2>Your project request counter is equal to : <span style="color: red">4</span></h2>
<br>
<br>
<h2>Your project participated counter is equal to : <span style="color: red">1</span></h2>
<br>
<br>
<h2>Your next indisponibility is : <span style="color: red">07/06/2019</span></h2>
<br>
<br>