<h1 style="color:red;">Welcome to the "Skill Market" app!</h1>
<br>
<br>
<h2>This application allows you to complete your profile in order to get in touch with other participants.</h2>
<br>
<br>
<h2 style="color:red;">You then have two possibilities:</h2>
<br>
<h3>- Receive someone's invitation to participate in a project where your skills will be needed!</h3>
<br>
<h3>- Build your own project to request one or more resources!</h3>
<br>
<br>
<h2 style="color:red;">The app contains different sections :</h2>
<br>
<h3><span style="color: green">Home</span> : you can see a total resume of your profile</h3>
<br>
<h3><span style="color: green">Profile</span> : create or update your profile</h3>
<br>
<h3><span style="color: green">Project Builder</span> : construct a project with different neeeded skills</h3>
<br>
<h3><span style="color: green">Project List</span> : Visualize your old and actual project list</h3>
<br>
<h3><span style="color: green">Skills List</span> : access to all the available skills</h3>
<br>