<!DOCTYPE html>
<html>
<head>

<style>
.parent {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

</style>
</head>
<body>
<div class="parent">
    <span class="itemleft">
        <button class="block">Block Button</button>
    </span>
    <span class="itemleft">
        <button class="block">Block Button</button>
    </span>
    <span class="itemleft">
        <button class="block">Block Button</button>
    </span>
    <span class="itemleft">
        <button class="block">Block Button</button>
    </span>
</div>
</body>
</html>
